<h1 style="background-color:#234356;">rgb(35,67,86)</h1>

<h1 style="background-color:#3b137c;">rgb(59,19,124)</h1>
<h1 style="background-color:#5df2aa;">rgb(93,242,170)</h1>
<h1 style="background-color:#3670c2;">rgb(54,112,194)</h1>
<h1 style="background-color:#6f78da;">rgb(111,120,218)</h1>

/<p>hex format!</p>
<h1 style="background-color:#EE170D;">#EE170D</h1>
<h1 style="background-color:#0FE298;">#0FE298</h1>
<h1 style="background-color:#0CD6DD;">#0CD6DD</h1>
<h1 style="background-color:#0D84E8;">0D84E8</h1>
<h1 style="background-color:#0E7BF4;">#0E7BF4</h1>

/<p>color property
background
text
cascading</p>
